<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" type="text/css" href="/static/app.css"  />


</head>



<body>

    <h1>Conversor de Moedas</h1>


    <form method="post" action="#" id='consultar'>

        <input  id="origem" type="text" value="BRL" name="origem" disabled>

        <select id="destino" name="destino">
            <option value="USD">Dólar Americano</option>
            <option value="EUR">Euro</option>
        </select>

        <input id="conversao" type="number" name="conversao" step=0.01 min=1000 max=100000> 

        <select id="tipoPagamento"  name="tipoPagamento">
            <option value="Boleto">Boleto</option>
            <option value="Cartao">Cartão de Crédito</option>
        </select>

        <input type="submit" value="Consultar">

    </form>


{% if resposta['destino'] == "" %}
<div class="hidden">
{% endif %}
    <ul class='result_list' id="results">
        <li> Moeda de origem: BRL </li>
        <li> Moeda de destino: {{resposta['destino']}} </li>
        <li> Valor para conversão: {{resposta['valor']}}  </li>
        <li> Forma de pagamento: {{resposta['pagamento']}} </li>
        <li> Valor da "Moeda de destino" usado para conversão: {{resposta['taxa_compra']}} </li>
        <li> Valor comprado em "Moeda de destino":  {{resposta['valor_conversão']}}   </li>
        <li> Taxa de pagamento:   {{resposta['taxapagto']}} </li>
        <li> Taxa de conversão: {{resposta['taxaconversao']}} </li>
        <li> Valor utilizado para conversão descontando as taxas: {{resposta['conversao-taxas']}} </li>
    </ul>
</div>


    {% block content %}

    {% endblock %}


</body>

<script src="/static/app.js"></script>

</html>